@model MovieList.Models.ListItem

@{
ViewData["Title"] = "Add to watchlist";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .note-container {
            margin-top: 20px;
        }
        .note-textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            box-sizing: border-box;
        }
        .watchlist-button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        .watchlist-button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<h1>AddFilm</h1>
<p>Film: @ViewData["MovieTitle"]</p>
<form class="note-container" asp-action="Create">
    <input type="hidden" asp-for="MovieId" value=@ViewData["MovieId"] />
    <label asp-for="Note">Komentarz:</label>
    <textarea asp-for="Note" class="note-textarea" placeholder="Dodaj swoje notatki tutaj..."></textarea>
    <br/>
    <button class="btn btn-primary watchlist-button" type="submit" value="Create">Dodaj do WatchList</button>
</form>
</body>
